@import "tailwindcss";

:root {


  --btn-primary-bg: #006AF2;
  --btn-primary-hover: #006AF2;
  --btn-primary-text: #ffffff;
 


  --btn-outline-bg: transparent;
  --btn-outline-hover: #F5F7F9;
  --btn-outline-text: white;
  --btn-outline-border: #006AF2;
}

a {
  text-decoration: inherit;
  
}
a:hover {
  color: #000000 !important;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
  background-color: white;
  font-family: "Roboto", sans-serif;
}



button:focus,
button:focus-visible {
  outline: 0px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


.before-bg {
  position: relative;
}

.before-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url('./assets/herobg.svg');
  background-size: cover;
  background-position: center;
  height: calc(100% + 300px); 
}

input:-webkit-autofill {
  background-color: #ffffff !important; /* Light cyan background */
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  -webkit-text-fill-color: #000 !important; /* Optional: change text color */
}
.container-fluid {
  max-width: 1920px;
}
.line-height {
  line-height: 27px;
}
.lh {
  line-height: 64px;
}
.line-heights {
  line-height: 20px;
  letter-spacing: 0.3px;
}
.line-heighted {
  line-height: 31px;
}
.lineh {
  line-height: 53px;
}
